/********     1217px ****************/
@media screen and (max-width: 76em) {
  html {
    font-size: 0.52rem;
  }

  .hero {
    margin-bottom: 10rem;
  }
}

/********     987px ****************/
@media screen and (max-width: 60em) {
  html {
    font-size: 0.52rem;
  }

  .hero {
    margin-bottom: 10rem;
    text-align: center;
  }

  .hero-image {
    margin-top: 4rem;
  }

  .hero .description {
    width: 60%;
    margin: 0 auto 2rem auto;
  }

  .hero-image img {
    width: 65%;
  }

  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .academic {
    margin-top: 50rem;
  }

  .academic-content.grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }

  .btn-mobile {
    display: unset;
  }

  nav {
    position: absolute;
    background-color: rgba(20, 25, 27, 0.97);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 3.2rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .nav-open nav {
    animation: fade-in 300ms ease forwards;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-open .close-icon {
    display: unset;
  }

  .nav-open .menu-icon {
    display: none;
  }

  .nav-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.2rem;
    text-align: center;
  }

  .nav-item .nav-link:link {
    font-size: 3rem;
  }

  .btn-cta {
    font-size: 2.5rem;
  }

  .skills,
  .skills-description p {
    text-align: center;
    margin: 0 auto 5rem auto;
  }

  .skills-content {
    grid-template-columns: 1fr;
  }

  .image-container {
    width: 70%;
    margin: 0 auto;
  }

  .website-mockup:nth-child(2) {
    grid-row: 1;
  }

  .website-title {
    margin-top: 3.2rem;
  }

  .academic h3 {
    font-size: 1.8rem;

    font-weight: 500;
  }
}

/********     768px and below ****************/

@media screen and (max-width: 48em) {
  .academic h3 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .academic-content.grid-col-2 {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .certifications .heading-secondary {
    margin-top: 10rem;
  }
}

/********     550px and below ****************/

@media screen and (max-width: 34em) {
  header.logo {
    padding-left: 4rem;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .heading-secondary,
  .contact .heading-secondary {
    font-size: 2.8rem;
  }

  .greetngs,
  .author,
  .hero .description {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .highlight:after {
    display: block;
    content: url(./img/curve-sm.png);
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
  }

  .hero .description,
  .hero-image img {
    width: 90%;
  }

  .skills-description p {
    width: 90%;
  }

  .lanugages {
    grid-template-columns: repeat(2, 1fr);
  }
}
